Keterangan | Isi
-----|-----------------------
Nama | Keisha Prillia Qayyima
NIM  | 16321021
Tanggal | 28/11/2021
Deskripsi | Program menganalisa dataset yang berisi nama, fakultas/sekolah, nilai matematika, fisika dan kimia

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# read file data (csv)
url = "https://raw.githubusercontent.com/keishapq31/Prak-Pengkom-05/main/H05.csv"
df = pd.read_csv(url)

Program di atas untuk mengimport library yang dibutuhkan dalam program ini secara keseluruhan, serta untuk membaca data yang digunakan.

In [19]:
# 1. Nilai Matematika, Fisika, dan Kimia milik Tuan Ric
row = df.loc[df["nama"] == "Tuan Ric"]
print(row)
print()

          nama fakultas  nilai_mat  nilai_kim  nilai_fis
3513  Tuan Ric     STEI      96.78      62.23      30.53

In [20]:
# 2. Mahasiswa dengan nilai Fisika tertinggi
maxn = df["nilai_fis"].idxmax()
print(df[maxn:maxn+1])

                         nama fakultas  nilai_mat  nilai_kim  nilai_fis
1936  Yuniar Fazriani Rusmana     FITB      53.61      67.19      92.57

In [21]:
# 3. 10 Mahasiswa dengan nilai Kimia tertinggi
x = df.sort_values(["nilai_kim"],ascending=False)
print(x[:10])

                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
2554      Faathir Reza Avicena     FTSL      57.12      81.50      78.68
2779      Dinda A A Z Mundakir     STEI      41.18      81.34      82.60
3544        Tammya Ayu Purnomo    SITHS      74.49      81.20      78.58
4934    Alyssa Nadhira Windari     FTMD      78.38      78.83      78.68
1137          Izni Nur Ibrahim     STEI      56.70      78.46      84.34
2262      Rinaldi Oky Setiawan     STEI      71.22      77.44      83.66
4070      Ias Azhari Rezkyarno    FMIPA      62.85      76.90      81.52
2945           Klara Petra T T     FTSL      73.39      76.61      78.12
1788  Naudy Germanimo Laksmana     FTMD      62.29      76.38      76.15
1310       Mardliyahtur Rohmah     STEI      63.15      76.36      74.06

In [22]:
# 4. Banyaknya nilai matematika di bawah 50
mat = df.loc[df["nilai_mat"]<50]
data = df["nilai_mat"]
count = 0

for i in range(len(data)):
  df1 = data[i]
  if df1<50:
    count += 1

print("Banyaknya mahasiswa dengan nilai Matematika di bawah 50 ada",count,"mahasiswa.")

Banyaknya mahasiswa dengan nilai Matematika di bawah 50 ada 329 mahasiswa.

In [23]:
# 5. Banyaknya mahasiswa FMIPA
fmipa = df.loc[df["fakultas"]=="FMIPA"]
data = df["fakultas"]
count = 0

for i in range(len(data)):
  df1 = data[i]
  if df1 == "FMIPA":
    count += 1

print("Banyaknya mahasiswa FMIPA adalah",count,"mahasiswa.")

Banyaknya mahasiswa FMIPA adalah 627 mahasiswa.